<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/burgerLogger.css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <title>Daria Nadarajah | Burger Logger App</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand" href="index.html">Daria's Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="portfolio.html">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>



    <br><br><br><br>

    <div class="container">
        <center>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <h1>Burger Logger</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <p>Eat-The-Burger! is a restaurant app that lets users input the names of burgers they'd like to eat.
                        Whenever a user submits a burger's name, it will display the burger on the left side of the page
                        -- waiting to be devoured.
                        Each burger in the waiting area also has a `Devour it!` button. When the user clicks it, the
                        burger will move to the right side of the page.
                        Every burger will be stored in the database, whether devoured or not.</p>
                    <br><br>
                    <hr class="solid">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <a href="https://frozen-tundra-34124.herokuapp.com/" target="_blank"
                        class="btn btn-secondary btn-sm btn-md btn-lg active" role="button" aria-pressed="true">Try It
                        Yourself</a>
                    <br><br>
                    <hr class="solid">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <center>
                        <h4>How does it work?</h4>
                    </center>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <img src="../assets.css/Devour_Burgers.gif" class="img-thumbnail">
                </div>
            </div>

            <hr class="solid">
            <br><br>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <p>Tools: MySQL, Node, Express, Handlebars and a homemade ORM.</p>
                    <br>
                    <a href="https://github.com/edithdaria/Burger" target="_blank" style="text-decoration: none;">
                        <p id="git-hub">Curious to see how it was built? Click here to view the GitHub page</p>
                    </a>
                    <hr class="solid">
                </div>
            </div>


            <br><br>

        </center>
    </div>

    <div id="scroll-top-burger">
        <center>
            <i class="fa fa-arrow-up fa-3x" aria-hidden="true"></i>
        </center>
    </div>




    <footer>
        <div class="container-fluid fixed-bottom">
            <span class="text-muted">
                Copyright &copy; Daria Nadarajah 2020
            </span>
        </div>
    </footer>

</body>

<script src="script.js"></script>

</html>